{
    "openapi": "3.0.0",
    "info": {
        "title": "reteach Rest API Documentation",
        "description": "This document describes all endpoints of the reteach Rest API. To use them, you have to <a href=\"https://www.notion.so/reteach/REST-API-Access-and-Authentication-eb420cb4a8474b77a6527d19e7db00f2\" taget=\"_blank\">obtain a bearer token</a> for your reteach account.\n      The OpenAPI Specification of the API can be found <a href=\"https://api.reteach.io/docs-json\" taget=\"_blank\">here</a>.",
        "version": "1.0",
        "contact": {}
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.reteach.io"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "scheme": "bearer",
                "bearerFormat": "JWT",
                "type": "http"
            }
        },
        "schemas": {
            "ForbiddenErrorResponse": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "default": 403
                    },
                    "message": {
                        "type": "string",
                        "default": "Forbidden resource"
                    },
                    "error": {
                        "type": "string",
                        "default": "Forbidden"
                    }
                },
                "required": [
                    "statusCode",
                    "message",
                    "error"
                ]
            },
            "NotFoundErrorResponse": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "default": 404
                    },
                    "message": {
                        "type": "string"
                    },
                    "error": {
                        "type": "string",
                        "default": "Not found"
                    }
                },
                "required": [
                    "statusCode",
                    "message",
                    "error"
                ]
            },
            "UnprocessableEntityErrorResponse": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "default": 422
                    },
                    "message": {
                        "type": "string"
                    },
                    "error": {
                        "type": "string",
                        "default": "Unprocessable Entity"
                    }
                },
                "required": [
                    "statusCode",
                    "message",
                    "error"
                ]
            },
            "Tag": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "name"
                ]
            },
            "Customer": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "nullable": true
                    },
                    "userName": {
                        "type": "string",
                        "nullable": true
                    },
                    "firstName": {
                        "type": "string",
                        "nullable": true
                    },
                    "lastName": {
                        "type": "string",
                        "nullable": true
                    },
                    "displayName": {
                        "type": "string",
                        "nullable": true
                    },
                    "language": {
                        "type": "string",
                        "enum": [
                            "EN",
                            "DE",
                            "FR",
                            "ES",
                            "IT",
                            "UK",
                            "RU"
                        ],
                        "nullable": true
                    },
                    "company": {
                        "type": "string",
                        "nullable": true
                    },
                    "birthDate": {
                        "type": "string",
                        "nullable": true
                    },
                    "department": {
                        "type": "string",
                        "nullable": true
                    },
                    "gender": {
                        "type": "string",
                        "enum": [
                            "MALE",
                            "FEMALE",
                            "DIVERSE"
                        ],
                        "nullable": true
                    },
                    "externalId": {
                        "type": "string",
                        "nullable": true
                    },
                    "note": {
                        "type": "string",
                        "nullable": true
                    },
                    "expiredNotificationMail": {
                        "type": "string",
                        "nullable": true
                    },
                    "source": {
                        "type": "string",
                        "enum": [
                            "MANUAL",
                            "OPTIN",
                            "SAML",
                            "OIDC",
                            "ORDER",
                            "IMPORT",
                            "REST_API"
                        ]
                    },
                    "authenticationMethod": {
                        "type": "string",
                        "enum": [
                            "DEFAULT",
                            "SSO"
                        ]
                    },
                    "setActiveAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "setInactiveAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "lastLoginAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "ADDED",
                            "INVITED",
                            "ACTIVE",
                            "INACTIVE"
                        ]
                    },
                    "registeredAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": false
                    },
                    "tags": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "name"
                            ]
                        }
                    }
                },
                "required": [
                    "id",
                    "source",
                    "authenticationMethod",
                    "status",
                    "registeredAt",
                    "tags"
                ]
            },
            "CustomerPaginated": {
                "type": "object",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "email": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "userName": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "firstName": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "lastName": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "displayName": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "language": {
                                    "type": "string",
                                    "enum": [
                                        "EN",
                                        "DE",
                                        "FR",
                                        "ES",
                                        "IT",
                                        "UK",
                                        "RU"
                                    ],
                                    "nullable": true
                                },
                                "company": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "birthDate": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "department": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "gender": {
                                    "type": "string",
                                    "enum": [
                                        "MALE",
                                        "FEMALE",
                                        "DIVERSE"
                                    ],
                                    "nullable": true
                                },
                                "externalId": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "note": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "expiredNotificationMail": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "source": {
                                    "type": "string",
                                    "enum": [
                                        "MANUAL",
                                        "OPTIN",
                                        "SAML",
                                        "OIDC",
                                        "ORDER",
                                        "IMPORT",
                                        "REST_API"
                                    ]
                                },
                                "authenticationMethod": {
                                    "type": "string",
                                    "enum": [
                                        "DEFAULT",
                                        "SSO"
                                    ]
                                },
                                "setActiveAt": {
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": true
                                },
                                "setInactiveAt": {
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": true
                                },
                                "lastLoginAt": {
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": true
                                },
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "ADDED",
                                        "INVITED",
                                        "ACTIVE",
                                        "INACTIVE"
                                    ]
                                },
                                "registeredAt": {
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": false
                                },
                                "tags": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "name"
                                        ]
                                    }
                                }
                            },
                            "required": [
                                "id",
                                "source",
                                "authenticationMethod",
                                "status",
                                "registeredAt",
                                "tags"
                            ]
                        }
                    },
                    "resultCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "results",
                    "resultCount"
                ]
            },
            "CustomerUpdateInput": {
                "type": "object",
                "properties": {
                    "firstName": {
                        "type": "string",
                        "nullable": true
                    },
                    "lastName": {
                        "type": "string",
                        "nullable": true
                    },
                    "displayName": {
                        "type": "string",
                        "nullable": true
                    },
                    "email": {
                        "type": "string",
                        "nullable": true
                    },
                    "userName": {
                        "type": "string",
                        "nullable": true
                    },
                    "externalId": {
                        "type": "string",
                        "nullable": true
                    },
                    "company": {
                        "type": "string",
                        "nullable": true
                    },
                    "birthDate": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "department": {
                        "type": "string",
                        "nullable": true
                    },
                    "gender": {
                        "type": "string",
                        "enum": [
                            "MALE",
                            "FEMALE",
                            "DIVERSE"
                        ],
                        "nullable": true
                    },
                    "language": {
                        "type": "string",
                        "enum": [
                            "EN",
                            "DE",
                            "FR",
                            "ES",
                            "IT",
                            "UK",
                            "RU"
                        ],
                        "nullable": true
                    },
                    "authenticationMethod": {
                        "type": "string",
                        "enum": [
                            "DEFAULT",
                            "SSO"
                        ],
                        "nullable": true
                    },
                    "note": {
                        "type": "string",
                        "nullable": true
                    },
                    "setActiveAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "setInactiveAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "expiredNotificationMail": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "CustomerCreateInput": {
                "type": "object",
                "properties": {
                    "firstName": {
                        "type": "string",
                        "nullable": true
                    },
                    "lastName": {
                        "type": "string",
                        "nullable": true
                    },
                    "displayName": {
                        "type": "string",
                        "nullable": true
                    },
                    "email": {
                        "type": "string",
                        "nullable": true
                    },
                    "userName": {
                        "type": "string",
                        "nullable": true
                    },
                    "externalId": {
                        "type": "string",
                        "nullable": true
                    },
                    "company": {
                        "type": "string",
                        "nullable": true
                    },
                    "birthDate": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "department": {
                        "type": "string",
                        "nullable": true
                    },
                    "gender": {
                        "type": "string",
                        "enum": [
                            "MALE",
                            "FEMALE",
                            "DIVERSE"
                        ],
                        "nullable": true
                    },
                    "language": {
                        "type": "string",
                        "enum": [
                            "EN",
                            "DE",
                            "FR",
                            "ES",
                            "IT",
                            "UK",
                            "RU"
                        ],
                        "nullable": true
                    },
                    "authenticationMethod": {
                        "type": "string",
                        "enum": [
                            "DEFAULT",
                            "SSO"
                        ],
                        "nullable": true
                    },
                    "note": {
                        "type": "string",
                        "nullable": true
                    },
                    "setActiveAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "setInactiveAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "expiredNotificationMail": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "SuccessResponse": {
                "type": "object",
                "properties": {
                    "isSucceeded": {
                        "type": "boolean"
                    }
                },
                "required": [
                    "isSucceeded"
                ]
            },
            "TagPaginated": {
                "type": "object",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "name"
                            ]
                        }
                    },
                    "resultCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "results",
                    "resultCount"
                ]
            },
            "TagCreateInput": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    }
                },
                "required": [
                    "name"
                ]
            },
            "TagUpdateInput": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    }
                },
                "required": [
                    "name"
                ]
            },
            "ImageThumbnailReadDto": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "width": {
                        "type": "number"
                    },
                    "height": {
                        "type": "number"
                    },
                    "format": {
                        "type": "string",
                        "enum": [
                            "JPEG",
                            "PNG",
                            "WEBP",
                            "GIF",
                            "SVG"
                        ]
                    },
                    "url": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "width",
                    "height",
                    "format",
                    "url"
                ]
            },
            "ImageReadDto": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "width": {
                        "type": "number"
                    },
                    "height": {
                        "type": "number"
                    },
                    "thumbnails": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "width": {
                                    "type": "number"
                                },
                                "height": {
                                    "type": "number"
                                },
                                "format": {
                                    "type": "string",
                                    "enum": [
                                        "JPEG",
                                        "PNG",
                                        "WEBP",
                                        "GIF",
                                        "SVG"
                                    ]
                                },
                                "url": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "width",
                                "height",
                                "format",
                                "url"
                            ]
                        }
                    }
                },
                "required": [
                    "id",
                    "width",
                    "height",
                    "thumbnails"
                ]
            },
            "CourseReadDto": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "DRAFT",
                            "PRIVATE",
                            "PUBLIC"
                        ]
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "SINGLE_DAY_ONLINE_COURSE",
                            "MULTIPLE_DAYS_ONLINE_COURSE",
                            "ONLINE_COURSE",
                            "SINGLE_DAY_PRESENCE_TRAINING",
                            "MULTIPLE_DAYS_PRESENCE_TRAINING",
                            "SINGLE_DAY_LIVE_TRAINING",
                            "MULTIPLE_DAYS_LIVE_TRAINING",
                            "SINGLE_DAY_HYBRID_TRAINING",
                            "MULTIPLE_DAYS_HYBRID_TRAINING"
                        ]
                    },
                    "startsAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "endsAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "image": {
                        "default": null,
                        "nullable": true,
                        "allOf": [
                            {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "width": {
                                        "type": "number"
                                    },
                                    "height": {
                                        "type": "number"
                                    },
                                    "thumbnails": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "width": {
                                                    "type": "number"
                                                },
                                                "height": {
                                                    "type": "number"
                                                },
                                                "format": {
                                                    "type": "string",
                                                    "enum": [
                                                        "JPEG",
                                                        "PNG",
                                                        "WEBP",
                                                        "GIF",
                                                        "SVG"
                                                    ]
                                                },
                                                "url": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "width",
                                                "height",
                                                "format",
                                                "url"
                                            ]
                                        }
                                    }
                                },
                                "required": [
                                    "id",
                                    "width",
                                    "height",
                                    "thumbnails"
                                ]
                            }
                        ]
                    },
                    "url": {
                        "type": "string"
                    },
                    "editUrl": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "name",
                    "status",
                    "type",
                    "url",
                    "editUrl"
                ]
            },
            "ProductVariantOrderReadDto": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "number": {
                        "type": "string"
                    },
                    "quantity": {
                        "type": "number"
                    },
                    "totalAmount": {
                        "type": "number"
                    },
                    "committedAt": {
                        "format": "date-time",
                        "type": "string"
                    },
                    "customer": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "email": {
                                "type": "string",
                                "nullable": true
                            },
                            "userName": {
                                "type": "string",
                                "nullable": true
                            },
                            "firstName": {
                                "type": "string",
                                "nullable": true
                            },
                            "lastName": {
                                "type": "string",
                                "nullable": true
                            },
                            "displayName": {
                                "type": "string",
                                "nullable": true
                            },
                            "language": {
                                "type": "string",
                                "enum": [
                                    "EN",
                                    "DE",
                                    "FR",
                                    "ES",
                                    "IT",
                                    "UK",
                                    "RU"
                                ],
                                "nullable": true
                            },
                            "company": {
                                "type": "string",
                                "nullable": true
                            },
                            "birthDate": {
                                "type": "string",
                                "nullable": true
                            },
                            "department": {
                                "type": "string",
                                "nullable": true
                            },
                            "gender": {
                                "type": "string",
                                "enum": [
                                    "MALE",
                                    "FEMALE",
                                    "DIVERSE"
                                ],
                                "nullable": true
                            },
                            "externalId": {
                                "type": "string",
                                "nullable": true
                            },
                            "note": {
                                "type": "string",
                                "nullable": true
                            },
                            "expiredNotificationMail": {
                                "type": "string",
                                "nullable": true
                            },
                            "source": {
                                "type": "string",
                                "enum": [
                                    "MANUAL",
                                    "OPTIN",
                                    "SAML",
                                    "OIDC",
                                    "ORDER",
                                    "IMPORT",
                                    "REST_API"
                                ]
                            },
                            "authenticationMethod": {
                                "type": "string",
                                "enum": [
                                    "DEFAULT",
                                    "SSO"
                                ]
                            },
                            "setActiveAt": {
                                "format": "date-time",
                                "type": "string",
                                "nullable": true
                            },
                            "setInactiveAt": {
                                "format": "date-time",
                                "type": "string",
                                "nullable": true
                            },
                            "lastLoginAt": {
                                "format": "date-time",
                                "type": "string",
                                "nullable": true
                            },
                            "status": {
                                "type": "string",
                                "enum": [
                                    "ADDED",
                                    "INVITED",
                                    "ACTIVE",
                                    "INACTIVE"
                                ]
                            },
                            "registeredAt": {
                                "format": "date-time",
                                "type": "string",
                                "nullable": false
                            },
                            "tags": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "name"
                                    ]
                                }
                            }
                        },
                        "required": [
                            "id",
                            "source",
                            "authenticationMethod",
                            "status",
                            "registeredAt",
                            "tags"
                        ]
                    },
                    "courses": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "DRAFT",
                                        "PRIVATE",
                                        "PUBLIC"
                                    ]
                                },
                                "type": {
                                    "type": "string",
                                    "enum": [
                                        "SINGLE_DAY_ONLINE_COURSE",
                                        "MULTIPLE_DAYS_ONLINE_COURSE",
                                        "ONLINE_COURSE",
                                        "SINGLE_DAY_PRESENCE_TRAINING",
                                        "MULTIPLE_DAYS_PRESENCE_TRAINING",
                                        "SINGLE_DAY_LIVE_TRAINING",
                                        "MULTIPLE_DAYS_LIVE_TRAINING",
                                        "SINGLE_DAY_HYBRID_TRAINING",
                                        "MULTIPLE_DAYS_HYBRID_TRAINING"
                                    ]
                                },
                                "startsAt": {
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": true
                                },
                                "endsAt": {
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": true
                                },
                                "image": {
                                    "default": null,
                                    "nullable": true,
                                    "allOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "width": {
                                                    "type": "number"
                                                },
                                                "height": {
                                                    "type": "number"
                                                },
                                                "thumbnails": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "number"
                                                            },
                                                            "height": {
                                                                "type": "number"
                                                            },
                                                            "format": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "JPEG",
                                                                    "PNG",
                                                                    "WEBP",
                                                                    "GIF",
                                                                    "SVG"
                                                                ]
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "width",
                                                            "height",
                                                            "format",
                                                            "url"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "width",
                                                "height",
                                                "thumbnails"
                                            ]
                                        }
                                    ]
                                },
                                "url": {
                                    "type": "string"
                                },
                                "editUrl": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "name",
                                "status",
                                "type",
                                "url",
                                "editUrl"
                            ]
                        }
                    },
                    "url": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "number",
                    "quantity",
                    "totalAmount",
                    "committedAt",
                    "customer",
                    "courses",
                    "url"
                ]
            },
            "ProductVariantOrderPaginated": {
                "type": "object",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "number": {
                                    "type": "string"
                                },
                                "quantity": {
                                    "type": "number"
                                },
                                "totalAmount": {
                                    "type": "number"
                                },
                                "committedAt": {
                                    "format": "date-time",
                                    "type": "string"
                                },
                                "customer": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "email": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "userName": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "firstName": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "lastName": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "displayName": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "language": {
                                            "type": "string",
                                            "enum": [
                                                "EN",
                                                "DE",
                                                "FR",
                                                "ES",
                                                "IT",
                                                "UK",
                                                "RU"
                                            ],
                                            "nullable": true
                                        },
                                        "company": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "birthDate": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "department": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "gender": {
                                            "type": "string",
                                            "enum": [
                                                "MALE",
                                                "FEMALE",
                                                "DIVERSE"
                                            ],
                                            "nullable": true
                                        },
                                        "externalId": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "note": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "expiredNotificationMail": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "source": {
                                            "type": "string",
                                            "enum": [
                                                "MANUAL",
                                                "OPTIN",
                                                "SAML",
                                                "OIDC",
                                                "ORDER",
                                                "IMPORT",
                                                "REST_API"
                                            ]
                                        },
                                        "authenticationMethod": {
                                            "type": "string",
                                            "enum": [
                                                "DEFAULT",
                                                "SSO"
                                            ]
                                        },
                                        "setActiveAt": {
                                            "format": "date-time",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "setInactiveAt": {
                                            "format": "date-time",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "lastLoginAt": {
                                            "format": "date-time",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "ADDED",
                                                "INVITED",
                                                "ACTIVE",
                                                "INACTIVE"
                                            ]
                                        },
                                        "registeredAt": {
                                            "format": "date-time",
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "tags": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "name"
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "source",
                                        "authenticationMethod",
                                        "status",
                                        "registeredAt",
                                        "tags"
                                    ]
                                },
                                "courses": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "status": {
                                                "type": "string",
                                                "enum": [
                                                    "DRAFT",
                                                    "PRIVATE",
                                                    "PUBLIC"
                                                ]
                                            },
                                            "type": {
                                                "type": "string",
                                                "enum": [
                                                    "SINGLE_DAY_ONLINE_COURSE",
                                                    "MULTIPLE_DAYS_ONLINE_COURSE",
                                                    "ONLINE_COURSE",
                                                    "SINGLE_DAY_PRESENCE_TRAINING",
                                                    "MULTIPLE_DAYS_PRESENCE_TRAINING",
                                                    "SINGLE_DAY_LIVE_TRAINING",
                                                    "MULTIPLE_DAYS_LIVE_TRAINING",
                                                    "SINGLE_DAY_HYBRID_TRAINING",
                                                    "MULTIPLE_DAYS_HYBRID_TRAINING"
                                                ]
                                            },
                                            "startsAt": {
                                                "format": "date-time",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "endsAt": {
                                                "format": "date-time",
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "image": {
                                                "default": null,
                                                "nullable": true,
                                                "allOf": [
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "number"
                                                            },
                                                            "height": {
                                                                "type": "number"
                                                            },
                                                            "thumbnails": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        },
                                                                        "width": {
                                                                            "type": "number"
                                                                        },
                                                                        "height": {
                                                                            "type": "number"
                                                                        },
                                                                        "format": {
                                                                            "type": "string",
                                                                            "enum": [
                                                                                "JPEG",
                                                                                "PNG",
                                                                                "WEBP",
                                                                                "GIF",
                                                                                "SVG"
                                                                            ]
                                                                        },
                                                                        "url": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "id",
                                                                        "width",
                                                                        "height",
                                                                        "format",
                                                                        "url"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "width",
                                                            "height",
                                                            "thumbnails"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "url": {
                                                "type": "string"
                                            },
                                            "editUrl": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "name",
                                            "status",
                                            "type",
                                            "url",
                                            "editUrl"
                                        ]
                                    }
                                },
                                "url": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "number",
                                "quantity",
                                "totalAmount",
                                "committedAt",
                                "customer",
                                "courses",
                                "url"
                            ]
                        }
                    },
                    "resultCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "results",
                    "resultCount"
                ]
            },
            "CoursePaginated": {
                "type": "object",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "DRAFT",
                                        "PRIVATE",
                                        "PUBLIC"
                                    ]
                                },
                                "type": {
                                    "type": "string",
                                    "enum": [
                                        "SINGLE_DAY_ONLINE_COURSE",
                                        "MULTIPLE_DAYS_ONLINE_COURSE",
                                        "ONLINE_COURSE",
                                        "SINGLE_DAY_PRESENCE_TRAINING",
                                        "MULTIPLE_DAYS_PRESENCE_TRAINING",
                                        "SINGLE_DAY_LIVE_TRAINING",
                                        "MULTIPLE_DAYS_LIVE_TRAINING",
                                        "SINGLE_DAY_HYBRID_TRAINING",
                                        "MULTIPLE_DAYS_HYBRID_TRAINING"
                                    ]
                                },
                                "startsAt": {
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": true
                                },
                                "endsAt": {
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": true
                                },
                                "image": {
                                    "default": null,
                                    "nullable": true,
                                    "allOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "width": {
                                                    "type": "number"
                                                },
                                                "height": {
                                                    "type": "number"
                                                },
                                                "thumbnails": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "number"
                                                            },
                                                            "height": {
                                                                "type": "number"
                                                            },
                                                            "format": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "JPEG",
                                                                    "PNG",
                                                                    "WEBP",
                                                                    "GIF",
                                                                    "SVG"
                                                                ]
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "width",
                                                            "height",
                                                            "format",
                                                            "url"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "width",
                                                "height",
                                                "thumbnails"
                                            ]
                                        }
                                    ]
                                },
                                "url": {
                                    "type": "string"
                                },
                                "editUrl": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "id",
                                "name",
                                "status",
                                "type",
                                "url",
                                "editUrl"
                            ]
                        }
                    },
                    "resultCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "results",
                    "resultCount"
                ]
            },
            "CourseCreateInput": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "name"
                ]
            },
            "CustomerCourseCertificateReadDto": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "id",
                    "url"
                ]
            },
            "CustomerCourseParticipationReadDto": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "startedAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "completedAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "invitedAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "joinedAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "invitationAcceptedAt": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "timeSpentToComplete": {
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "acceptedCompleteConfirmationText": {
                        "type": "string",
                        "nullable": true
                    },
                    "progress": {
                        "type": "number"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "ADDED",
                            "INVITED",
                            "INVITATION_ACCEPTED",
                            "JOINED",
                            "STARTED",
                            "COMPLETED",
                            "DECLINED"
                        ]
                    },
                    "customer": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "email": {
                                "type": "string",
                                "nullable": true
                            },
                            "userName": {
                                "type": "string",
                                "nullable": true
                            },
                            "firstName": {
                                "type": "string",
                                "nullable": true
                            },
                            "lastName": {
                                "type": "string",
                                "nullable": true
                            },
                            "displayName": {
                                "type": "string",
                                "nullable": true
                            },
                            "language": {
                                "type": "string",
                                "enum": [
                                    "EN",
                                    "DE",
                                    "FR",
                                    "ES",
                                    "IT",
                                    "UK",
                                    "RU"
                                ],
                                "nullable": true
                            },
                            "company": {
                                "type": "string",
                                "nullable": true
                            },
                            "birthDate": {
                                "type": "string",
                                "nullable": true
                            },
                            "department": {
                                "type": "string",
                                "nullable": true
                            },
                            "gender": {
                                "type": "string",
                                "enum": [
                                    "MALE",
                                    "FEMALE",
                                    "DIVERSE"
                                ],
                                "nullable": true
                            },
                            "externalId": {
                                "type": "string",
                                "nullable": true
                            },
                            "note": {
                                "type": "string",
                                "nullable": true
                            },
                            "expiredNotificationMail": {
                                "type": "string",
                                "nullable": true
                            },
                            "source": {
                                "type": "string",
                                "enum": [
                                    "MANUAL",
                                    "OPTIN",
                                    "SAML",
                                    "OIDC",
                                    "ORDER",
                                    "IMPORT",
                                    "REST_API"
                                ]
                            },
                            "authenticationMethod": {
                                "type": "string",
                                "enum": [
                                    "DEFAULT",
                                    "SSO"
                                ]
                            },
                            "setActiveAt": {
                                "format": "date-time",
                                "type": "string",
                                "nullable": true
                            },
                            "setInactiveAt": {
                                "format": "date-time",
                                "type": "string",
                                "nullable": true
                            },
                            "lastLoginAt": {
                                "format": "date-time",
                                "type": "string",
                                "nullable": true
                            },
                            "status": {
                                "type": "string",
                                "enum": [
                                    "ADDED",
                                    "INVITED",
                                    "ACTIVE",
                                    "INACTIVE"
                                ]
                            },
                            "registeredAt": {
                                "format": "date-time",
                                "type": "string",
                                "nullable": false
                            },
                            "tags": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "name"
                                    ]
                                }
                            }
                        },
                        "required": [
                            "id",
                            "source",
                            "authenticationMethod",
                            "status",
                            "registeredAt",
                            "tags"
                        ]
                    },
                    "course": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string",
                                "nullable": true
                            },
                            "status": {
                                "type": "string",
                                "enum": [
                                    "DRAFT",
                                    "PRIVATE",
                                    "PUBLIC"
                                ]
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "SINGLE_DAY_ONLINE_COURSE",
                                    "MULTIPLE_DAYS_ONLINE_COURSE",
                                    "ONLINE_COURSE",
                                    "SINGLE_DAY_PRESENCE_TRAINING",
                                    "MULTIPLE_DAYS_PRESENCE_TRAINING",
                                    "SINGLE_DAY_LIVE_TRAINING",
                                    "MULTIPLE_DAYS_LIVE_TRAINING",
                                    "SINGLE_DAY_HYBRID_TRAINING",
                                    "MULTIPLE_DAYS_HYBRID_TRAINING"
                                ]
                            },
                            "startsAt": {
                                "format": "date-time",
                                "type": "string",
                                "nullable": true
                            },
                            "endsAt": {
                                "format": "date-time",
                                "type": "string",
                                "nullable": true
                            },
                            "image": {
                                "default": null,
                                "nullable": true,
                                "allOf": [
                                    {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "width": {
                                                "type": "number"
                                            },
                                            "height": {
                                                "type": "number"
                                            },
                                            "thumbnails": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "width": {
                                                            "type": "number"
                                                        },
                                                        "height": {
                                                            "type": "number"
                                                        },
                                                        "format": {
                                                            "type": "string",
                                                            "enum": [
                                                                "JPEG",
                                                                "PNG",
                                                                "WEBP",
                                                                "GIF",
                                                                "SVG"
                                                            ]
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "width",
                                                        "height",
                                                        "format",
                                                        "url"
                                                    ]
                                                }
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "width",
                                            "height",
                                            "thumbnails"
                                        ]
                                    }
                                ]
                            },
                            "url": {
                                "type": "string"
                            },
                            "editUrl": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "id",
                            "name",
                            "status",
                            "type",
                            "url",
                            "editUrl"
                        ]
                    },
                    "certificate": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "url": {
                                "type": "string",
                                "nullable": true
                            }
                        },
                        "required": [
                            "id",
                            "url"
                        ]
                    }
                },
                "required": [
                    "id",
                    "progress",
                    "status",
                    "customer",
                    "course"
                ]
            },
            "CustomerCourseParticipationPaginated": {
                "type": "object",
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string"
                                },
                                "startedAt": {
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": true
                                },
                                "completedAt": {
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": true
                                },
                                "invitedAt": {
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": true
                                },
                                "joinedAt": {
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": true
                                },
                                "invitationAcceptedAt": {
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": true
                                },
                                "timeSpentToComplete": {
                                    "format": "date-time",
                                    "type": "string",
                                    "nullable": true
                                },
                                "acceptedCompleteConfirmationText": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "progress": {
                                    "type": "number"
                                },
                                "status": {
                                    "type": "string",
                                    "enum": [
                                        "ADDED",
                                        "INVITED",
                                        "INVITATION_ACCEPTED",
                                        "JOINED",
                                        "STARTED",
                                        "COMPLETED",
                                        "DECLINED"
                                    ]
                                },
                                "customer": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "email": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "userName": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "firstName": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "lastName": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "displayName": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "language": {
                                            "type": "string",
                                            "enum": [
                                                "EN",
                                                "DE",
                                                "FR",
                                                "ES",
                                                "IT",
                                                "UK",
                                                "RU"
                                            ],
                                            "nullable": true
                                        },
                                        "company": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "birthDate": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "department": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "gender": {
                                            "type": "string",
                                            "enum": [
                                                "MALE",
                                                "FEMALE",
                                                "DIVERSE"
                                            ],
                                            "nullable": true
                                        },
                                        "externalId": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "note": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "expiredNotificationMail": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "source": {
                                            "type": "string",
                                            "enum": [
                                                "MANUAL",
                                                "OPTIN",
                                                "SAML",
                                                "OIDC",
                                                "ORDER",
                                                "IMPORT",
                                                "REST_API"
                                            ]
                                        },
                                        "authenticationMethod": {
                                            "type": "string",
                                            "enum": [
                                                "DEFAULT",
                                                "SSO"
                                            ]
                                        },
                                        "setActiveAt": {
                                            "format": "date-time",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "setInactiveAt": {
                                            "format": "date-time",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "lastLoginAt": {
                                            "format": "date-time",
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "ADDED",
                                                "INVITED",
                                                "ACTIVE",
                                                "INACTIVE"
                                            ]
                                        },
                                        "registeredAt": {
                                            "format": "date-time",
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "tags": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "name"
                                                ]
                                            }
[...]
